<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Matt Killian</title>
    <!--reset css file-->
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
    <!--Bootstrap v4.0 cdn-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--My own styling-->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <!--JQuery and Link to event listener js file-->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/portfolio.js"></script>

</head>

<body>
    <div class="container-fluid">
        <div class="row justify-content-center v-align landing-page">
            <div class="col-sm-6 welcomeScript">
                <p>
                    Hi!
                    <br>
                    I'm Matt Killian
                    <br>
                    I am a full-stack web developer
                </p>
            </div>
        </div>
        <div class="row justify-content-center projects">
            <div class="col-sm-3 projectScript">
                <p>
                    Projects
                </p>
            </div>
        </div>
    
    {{{body}}}

   <div class="row justify-content-center project">
            <div class="col-lg-6 proj-col">
                <img class = "img-fluid" src="./assets/images/verse3.png" alt="Project-1: Verse (Rap Battle Game)">
                <div class="overlay">
                    <div class="row align-items-center overlay-row">
                        <div class="col">
                           <div class="row">
                                <div class="col overlay-title">
                                    Title
                                </div>
                           </div>
                           <div class="row">
                                <div class="col overlay-description">
                                    Description
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-right">
                                    <button class="overlay-btn overlay-btn-left toggle-modal" data-btn = "1">
                                        Learn More
                                    </button>
                                </div>
                                <div class="col text-left">
                                    <button class="overlay-btn overlay-btn-right">
                                        Visit Site
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 proj-col">
                    <img class = "img-fluid" src="./assets/images/verse3.png" alt="Project-1: Verse (Rap Battle Game)">
                    <div class="overlay">
                        <div class="row align-items-center overlay-row">
                            <div class="col">
                               <div class="row">
                                    <div class="col overlay-title">
                                        Title
                                    </div>
                               </div>
                               <div class="row">
                                    <div class="col overlay-description">
                                        Description
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-right">
                                        <button class="overlay-btn overlay-btn-left toggle-modal" data-btn = "2">
                                            Learn More
                                        </button>
                                    </div>
                                    <div class="col text-left">
                                        <button class="overlay-btn overlay-btn-right">
                                            Visit Site
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="row justify-content-center project">
            <div class="col-lg-6 proj-col">
                <img class = "img-fluid" src="./assets/images/verse3.png" alt="Project-1: Verse (Rap Battle Game)">
                <div class="overlay">
                    <div class="row align-items-center overlay-row">
                        <div class="col">
                           <div class="row">
                                <div class="col overlay-title">
                                    Title
                                </div>
                           </div>
                           <div class="row">
                                <div class="col overlay-description">
                                    Description
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-right">
                                    <button class="overlay-btn overlay-btn-left toggle-modal" data-btn = "3">
                                        Learn More
                                    </button>
                                </div>
                                <div class="col text-left">
                                    <button class="overlay-btn overlay-btn-right">
                                        Visit Site
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 proj-col">
                    <img class = "img-fluid" src="./assets/images/verse3.png" alt="Project-1: Verse (Rap Battle Game)">
                    <div class="overlay">
                        <div class="row align-items-center overlay-row">
                            <div class="col">
                               <div class="row">
                                    <div class="col overlay-title">
                                        Title
                                    </div>
                               </div>
                               <div class="row">
                                    <div class="col overlay-description">
                                        Description
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-right">
                                        <button class="overlay-btn overlay-btn-left toggle-modal" data-btn = "4">
                                            Learn More
                                        </button>
                                    </div>
                                    <div class="col text-left">
                                        <button class="overlay-btn overlay-btn-right">
                                            Visit Site
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

    <!--Scripts for Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>