<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Matt Killian</title>
    <!--reset css file-->
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
    <!--Bootstrap v4.0 cdn-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--My own styling-->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
    <!--Slick img slider stylesheet-->
    {{!-- <link rel="stylesheet" type="text/css" href="/assets/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/> --}}
    <!--JQuery and Link to event listener js file-->
    {{!-- <script src="https://code.jquery.com/jquery.js"></script> --}}
    

</head>

<body>
    <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" id="navbarName">Matt Killian</a>
        </nav>
    <div class="container-fluid">
        <div class="row justify-content-center v-align landing-page">
            <div class="col-sm-8 welcome">
                <div class="row">
                    <div class="col-sm-12"><h1 class="welcomeHello">HELLO!</h1></div>
                </div>
                <div class="row">
                    <div class="col-sm-12"><h4 class="welcomeDescription">My name is Matt. I am a full-stack web developer</h4></div>
                </div>
            </div>
        </div>
        <div class="row arrowRow1">
                <div class="col-sm">
                    <div class="arrowLink mx-auto">
                        <a href="">
                            <div class="row"><div class="arrow mx-auto"></div></div>
                            <div class="row"><div class="arrow mx-auto"></div></div>
                        </a>
                    </div>
                </div>
        </div>
        {{!-- <div class="row arrowRow1">
            <div class="col-sm"><a href=""><div class="arrow mx-auto"></div></a></div>
        </div>
        <div class="row arrowRow2">
            <div class="col-sm"><a><div class="arrow mx-auto"></div></a></div>
        </div> --}}
        <div class="row justify-content-center projects">
            <div class="col-sm-3 projectScript">
                <p>
                    Projects
                </p>
            </div>
        </div>
    
    {{{body}}}

   <div class="row justify-content-center project">
            <div class="col-lg proj-col mb-3">
                <img class = "img-fluid" src="./assets/images/verse3.png" alt="Project-1: Verse (Rap Battle Game)">
                <div class="overlay">
                    <div class="row align-items-center overlay-row">
                        <div class="col">
                           <div class="row">
                                <div class="col overlay-title">
                                    Verse
                                </div>
                           </div>
                           <div class="row">
                                <div class="col overlay-description">
                                    Two-player rap battle game
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-right">
                                    <button class="overlay-btn overlay-btn-left toggle-modal" data-btn = "1">
                                        Learn More
                                    </button>
                                </div>
                                <div class="col text-left">
                                    <button class="overlay-btn overlay-btn-right">
                                        Visit Site
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg proj-col mb-3">
                    <img class = "img-fluid" src="./assets/images/SpaceAdventure.PNG" alt="Project-2: Space Adventure Game">
                    <div class="overlay">
                        <div class="row align-items-center overlay-row">
                            <div class="col">
                               <div class="row">
                                    <div class="col overlay-title">
                                        Space Adventure
                                    </div>
                               </div>
                               <div class="row">
                                    <div class="col overlay-description">
                                        Choose-your-own adventure game
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-right">
                                        <button class="overlay-btn overlay-btn-left toggle-modal" data-btn = "2">
                                            Learn More
                                        </button>
                                    </div>
                                    <div class="col text-left">
                                        <button class="overlay-btn overlay-btn-right">
                                            Visit Site
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="row justify-content-center project">
            <div class="col-lg proj-col mb-3">
                <img class = "img-fluid" src="./assets/images/clicky.PNG" alt="Baseball-themed memory game">
                <div class="overlay">
                    <div class="row align-items-center overlay-row">
                        <div class="col">
                           <div class="row">
                                <div class="col overlay-title">
                                    Click-it!
                                </div>
                           </div>
                           <div class="row">
                                <div class="col overlay-description">
                                    Baseball memory game
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-right">
                                    <button class="overlay-btn overlay-btn-left toggle-modal" data-btn = "3">
                                        Learn More
                                    </button>
                                </div>
                                <div class="col text-left">
                                    <button class="overlay-btn overlay-btn-right">
                                        Visit Site
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg proj-col mb-3">
                    <img class = "img-fluid" src="./assets/images/carTrivia.PNG" alt="Car Trivia Game">
                    <div class="overlay">
                        <div class="row align-items-center overlay-row">
                            <div class="col">
                               <div class="row">
                                    <div class="col overlay-title">
                                        Cruis'n Trivia
                                    </div>
                               </div>
                               <div class="row">
                                    <div class="col overlay-description">
                                        Car Trivia Game
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-right">
                                        <button class="overlay-btn overlay-btn-left toggle-modal" data-btn = "4">
                                            Learn More
                                        </button>
                                    </div>
                                    <div class="col text-left">
                                        <button class="overlay-btn overlay-btn-right">
                                            Visit Site
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
        </div>
        <div class="row justify-content-center project">
            <div class="col-lg proj-col mb-3">
                    <img class = "img-fluid" src="./assets/images/nytReact.PNG" alt="New York Times Article Search">
                    <div class="overlay">
                        <div class="row align-items-center overlay-row">
                            <div class="col">
                               <div class="row">
                                    <div class="col overlay-title">
                                        NYT Article Scrubber
                                    </div>
                               </div>
                               <div class="row">
                                    <div class="col overlay-description">
                                        Search for New York Times articles by topic and year
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-right">
                                        <button class="overlay-btn overlay-btn-left toggle-modal" data-btn = "4">
                                            Learn More
                                        </button>
                                    </div>
                                    <div class="col text-left">
                                        <button class="overlay-btn overlay-btn-right">
                                            Visit Site
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-lg proj-col mb-3">
                    <img class = "img-fluid" src="./assets/images/hangman.PNG" alt="Hangman Game">
                    <div class="overlay">
                        <div class="row align-items-center overlay-row">
                            <div class="col">
                               <div class="row">
                                    <div class="col overlay-title">
                                        Dystopia Hangman
                                    </div>
                               </div>
                               <div class="row">
                                    <div class="col overlay-description">
                                        Hangman game
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-right">
                                        <button class="overlay-btn overlay-btn-left toggle-modal" data-btn = "4">
                                            Learn More
                                        </button>
                                    </div>
                                    <div class="col text-left">
                                        <button class="overlay-btn overlay-btn-right">
                                            Visit Site
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

    <!--Scripts for Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/assets/js/portfolio.js"></script>
    <!--Script for slick img slider-->
    <script type="text/javascript" src="/assets/slick/slick.min.js"></script>
</body>

</html>