<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Matt Killian</title>
    <!--reset css file-->
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
    <!--Bootstrap v4.0 cdn-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--My own styling-->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
    <!--Slick img slider stylesheet-->
    {{!-- <link rel="stylesheet" type="text/css" href="/assets/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/> --}}
    <!--JQuery and Link to event listener js file-->
    {{!-- <script src="https://code.jquery.com/jquery.js"></script> --}}
    

</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" id="navbarName">Matt Killian</a>
        </nav>
        <div class="row justify-content-center v-align landing-page">
            <div class="col-sm-8 welcome">
                <div class="row">
                    <div class="col-sm-12"><h1 class="welcomeHello">HELLO!</h1></div>
                </div>
                <div class="row">
                    <div class="col-sm-12"><h4 class="welcomeDescription">My name is Matt. I am a full-stack web developer</h4></div>
                </div>
            </div>
        </div>
        <div class="row arrowRow1">
                <div class="col-sm">
                    <div class="arrowLink mx-auto">
                        <a href="#myWork" class="smoothScroll">
                            <div class="row"><div class="arrow mx-auto"></div></div>
                            <div class="row"><div class="arrow mx-auto"></div></div>
                        </a>
                    </div>
                </div>
        </div>
        <div class="row justify-content-center section">
            <div class="col-sm-3 sectionScript" id="myWork">
                <h4 class="sectionTitle">
                    Projects
                </h4>
            </div>
        </div>
    
    {{{body}}}

<div class="container">
    <div class="proj-display">
        <div class="wrapper">
            <div class="proj-col">
                <img class = "proj-img" src="./assets/images/verse4.png" alt="Project-1: Verse (Rap Battle Game)">
                <div class="overlay">
                    <div class="row align-items-center overlay-row">
                        <div class="col">
                           <div class="row">
                                <div class="col overlay-title">
                                    Verse
                                </div>
                           </div>
                            <div class="row mt-3">
                                <div class="col text-center">
                                    <button class="overlay-btn overlay-btn-left toggle-modal mr-3" data-btn = "1">
                                        Learn More
                                    </button>
                                    <a href="http://verse.games/">
                                        <button class="overlay-btn overlay-btn-right">
                                            Visit Site
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="proj-col">
                <img class = "proj-img" src="./assets/images/SpaceAdventure2.png" alt="Project-2: Space Adventure Game">
                <div class="overlay">
                    <div class="row align-items-center overlay-row">
                        <div class="col">
                           <div class="row">
                                <div class="col overlay-title">
                                    Space Adventure
                                </div>
                           </div>
                            <div class="row mt-3">
                                <div class="col text-center">
                                    <button class="overlay-btn overlay-btn-left toggle-modal mr-3" data-btn = "2">
                                        Learn More
                                    </button>
                                    <a href="https://stark-meadow-67785.herokuapp.com/">
                                        <button class="overlay-btn overlay-btn-right">
                                            Visit Site
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="proj-col">
                <img class = "proj-img" src="./assets/images/clicky3.PNG" alt="Baseball-themed memory game">
                <div class="overlay">
                    <div class="row align-items-center overlay-row">
                        <div class="col">
                           <div class="row">
                                <div class="col overlay-title">
                                    Click-it!
                                </div>
                           </div>
                            <div class="row mt-3">
                                <div class="col text-center">
                                    <button class="overlay-btn overlay-btn-left toggle-modal mr-3" data-btn = "3">
                                        Learn More
                                    </button>
                                    <a href="https://killianmh.github.io/baseball-click/">
                                        <button class="overlay-btn overlay-btn-right">
                                            Visit Site
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="proj-col">
                <img class = "proj-img" src="./assets/images/CarTrivia2.png" alt="Car Trivia Game">
                <div class="overlay">
                    <div class="row align-items-center overlay-row">
                        <div class="col">
                           <div class="row">
                                <div class="col overlay-title">
                                    Cruis'n Trivia
                                </div>
                           </div>
                            <div class="row mt-3">
                                <div class="col text-center">
                                    <button class="overlay-btn overlay-btn-left toggle-modal mr-3" data-btn = "4">
                                        Learn More
                                    </button>
                                    <a href="https://killianmh.github.io/TriviaGame/">
                                        <button class="overlay-btn overlay-btn-right">
                                            Visit Site
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="proj-col">
                <img class = "proj-img" src="./assets/images/nytReact2.png" alt="New York Times Article Search">
                <div class="overlay">
                    <div class="row align-items-center overlay-row">
                        <div class="col">
                           <div class="row">
                                <div class="col overlay-title">
                                    NYT Article Scrubber
                                </div>
                           </div>
                            <div class="row mt-3">
                                <div class="col text-center">
                                    <button class="overlay-btn overlay-btn-left toggle-modal mr-3" data-btn = "5">
                                        Learn More
                                    </button>
                                    <a href="https://stormy-anchorage-70391.herokuapp.com/">
                                        <button class="overlay-btn overlay-btn-right">
                                            Visit Site
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="proj-col">
                <img class = "proj-img" src="./assets/images/hangman2.png" alt="Hangman Game">
                <div class="overlay">
                    <div class="row align-items-center overlay-row">
                        <div class="col">
                           <div class="row">
                                <div class="col overlay-title">
                                    Dystopia Hangman
                                </div>
                           </div>
                            <div class="row mt-3">
                                <div class="col text-center">
                                    <button class="overlay-btn overlay-btn-left toggle-modal mr-3" data-btn = "6">
                                        Learn More
                                    </button>
                                    <a href="https://killianmh.github.io/Hangman-Game/">
                                        <button class="overlay-btn overlay-btn-right">
                                            Visit Site
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="row justify-content-center section">
        <div class="col-sm-6 sectionScript" id="aboutMe">
            <h4 class="sectionTitle">
                About Me
            </h4>
        </div>
    </div>
    <div class="row v-align aboutMe">
        <div class="col-1">
        </div>
        <div class="col-3">
            picture
        </div>
        <div class="col-md-7">
           lorem fermentum ut. Quisque efficitur dictum lorem. Donec condimentum venenatis justo vitae facilisis. Vivamus lacus enim, venenatis quis risus sit amet, elementum viverra leo. Duis ac massa ipsum. Nam tortor ante, blandit a luctus et, congue vel lectus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam sit amet lobortis erat. Curabitur varius, est sed molestie suscipit, magna leo ullamcorper augue, interdum hendrerit magna lorem vitae neque. Etiam faucibus tortor aliquam nulla placerat, quis tempor mi venenatis.
        </div>
        <div class="col-1">
        </div>
    </div>
</div>

    <!--Scripts for Bootstrap-->
    {{!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> --}}
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/assets/js/portfolio.js"></script>
    <!--Script for slick img slider-->
    <script type="text/javascript" src="/assets/slick/slick.min.js"></script>
</body>

</html>