<div class="container-fluid">
        <div class="row justify-content-center v-align landing-page">
            <div class="col-sm-6 welcomeScript">
                <p>
                    Hi!
                    <br>
                    I'm Matt Killian
                    <br>
                    I am a full-stack web developer
                </p>
            </div>
        </div>
        <div class="row justify-content-center projects">
            <div class="col-sm-3 projectScript">
                <p>
                    Projects
                </p>
            </div>
        </div>
        <div class="modal fade" id="project-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content" id="k-override">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      {{body}}
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
        </div>
        <div class="row justify-content-center project">
            <div class="col-lg-6 proj-col">
                <img class = "img-fluid" src="./assets/images/verse3.png" alt="Project-1: Verse (Rap Battle Game)">
                <div class="overlay">
                    <div class="row align-items-center overlay-row">
                        <div class="col">
                           <div class="row">
                                <div class="col overlay-title">
                                    Title
                                </div>
                           </div>
                           <div class="row">
                                <div class="col overlay-description">
                                    Description
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-right">
                                    <button class="overlay-btn overlay-btn-left toggle-modal">
                                        Learn More
                                    </button>
                                </div>
                                <div class="col text-left">
                                    <button class="overlay-btn overlay-btn-right">
                                        Visit Site
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 proj-col">
                    <img class = "img-fluid" src="./assets/images/verse3.png" alt="Project-1: Verse (Rap Battle Game)">
                    <div class="overlay">
                        <div class="row align-items-center overlay-row">
                            <div class="col">
                               <div class="row">
                                    <div class="col overlay-title">
                                        Title
                                    </div>
                               </div>
                               <div class="row">
                                    <div class="col overlay-description">
                                        Description
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-right">
                                        <button class="overlay-btn overlay-btn-left toggle-modal">
                                            Learn More
                                        </button>
                                    </div>
                                    <div class="col text-left">
                                        <button class="overlay-btn overlay-btn-right">
                                            Visit Site
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>