html {
    font-size: 100%;
}


.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #073B4C;
    box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.4);
    z-index: 10;
}

#navbarName {
    color: #A4B7BD;
}

.welcome {
    text-align: center;
    font-size: 10rem;
    font-family: 'Didact Gothic', sans-serif;
    color: #073B4C;
}

.welcomeHello {
    font-size: 0.9em;
}

.welcomeDescription {
    font-size: 0.3em;
}

.arrowRow1 {
    margin-top: -175px;
    margin-bottom: 150px;
}

.arrowLink {
    width: 50px;
}

.arrowRow2 {
    margin-top: -10px;
}

.arrow {
    border: solid #073B4C;
    border-width: 0 3px 3px 0;
    height: 30px;
    width: 30px;
    display: block;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.landing-page {
    background-image: url("/assets/images/wood-grain.jpg");
    background-size: cover;
    height: 730px;
}

.v-align {
    display: flex;
    align-items: center;
}

.projectScript {
    text-align: center;
}

.projects {
    font-size: 10rem;
    margin-bottom: 25px; 
}

.projectSectionTitle {
    font-size: 0.3em;
    color: #073B4C;
}

.project {
    overflow: hidden;
}

.proj-display {
    height: 100%;
    width: 90%;
    margin: auto;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
}

.proj-col {
    height: 300px;
    width: 300px;
    position: relative;
    margin-bottom: 2rem;
}

.proj-img {
    height: 100%;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: #A4B7BD;
    background-clip: content-box;
}

.overlay-row {
    height: 100%;
}

.proj-col:hover .overlay {
    opacity: 1;
}

.overlay-title {
    color: #073B4C;
    text-align: center;
    font-size: 30px;
}

.overlay-description {
    color: #073B4C;
    text-align: center;
    font-size: 15px;
}

.overlay-btn-row {
    margin-top: 5px;
}

.overlay-btn {
    border: 3px solid #073B4C;
    border-radius: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
    background: none;
    transition: all 0.3s ease;
    font-size: 15px;
    color: #073B4C;
}

.overlay-btn:hover {
    background-color: #073B4C;
    color: #A4B7BD;
    cursor: pointer;
}


#k-override {
    border-radius: 0;
    /* border: 5px solid rgba(132, 158, 17, 0.2); */
}

.modal-text {
    color: #073B4C;
}

@media (max-width: 900px){
    html{font-size: 90%;}
}

@media (max-width: 400px){
    html{font-size: 75%;}
}