.welcomeScript {
    text-align: center;
}

.landing-page {
    background-image: url("/assets/images/mountain.jpg");
}

.v-align {
    height: 730px;
    display: flex;
    align-items: center;
}

.projectScript {
    text-align: center;
}

.projects {
    margin-top: 100px;
    margin-bottom: 25px; 
}

.project {
    overflow: hidden;
    max-height: 380px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    opacity: 0;
    transition: opacity 0.5s ease;
    background-color: rgb(97, 46, 12);
    background-clip: content-box;
}

.overlay-row {
    height: 100%;
}

.proj-col:hover .overlay {
    opacity: 1;
}

.overlay-title {
    color: white;
    text-align: center;
    font-size: 15px;
}

.overlay-description {
    color: white;
    text-align: center;
    font-size: 15px;
}

.overlay-btn-row {
    margin-top: 5px;
}

.overlay-btn {
    border: 3px solid black;
    border-radius: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
    background: none;
    transition: all 0.5s ease;
    font-size: 15px;
}

.overlay-btn:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}


#k-override {
    border-radius: none;
    border: 5px solid rgba(132, 158, 17, 0.2);
}