html {
    font-size: 100%;
}

#loading {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -60px 0 0 -60px;
    border: 16px solid;
    border-radius: 50%;
    border-color: #073B4C #A4B7BD #A4B7BD;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    margin-left: -15px;
    min-height: 80px;
    background-color: #073B4C;
    box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.4);
    z-index: 10;
}

#navbarName {
    color: #A4B7BD;
}

.navbarLink {
    color: #A4B7BD;
}

#toggleBtn {
    border-color: #A4B7BD;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#A4B7BD' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.welcome {
    text-align: center;
    font-size: 10rem;
    font-family: 'Didact Gothic', sans-serif;
    color: #073B4C;
}

.welcomeHello {
    font-size: 0.9em;
}

.welcomeDescription {
    font-size: 0.3em;
}

.arrowRow1 {
    margin-top: -175px;
    margin-bottom: 150px;
}

.arrowLink {
    width: 50px;
}

.arrowLink {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-20px);
      }
      60% {
        transform: translateY(-10px);
      }
}

.arrowRow2 {
    margin-top: -10px;
}

.arrow {
    border: solid #073B4C;
    border-width: 0 3px 3px 0;
    height: 30px;
    width: 30px;
    display: block;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.landing-page {
    background-image: url("/assets/images/marble.jpg");
    background-size: cover;
    height: 730px;
}

.v-align {
    display: flex;
    align-items: center;
}

.sectionScript {
    text-align: center;
}

.section {
    font-size: 10rem;
    margin-bottom: 25px; 
}

.sectionTitle {
    font-size: 0.3em;
    color: #073B4C;
}

.project {
    overflow: hidden;
}

.proj-display {
    height: 100%;
    width: 90%;
    margin: auto;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
}

.proj-col {
    height: 300px;
    width: 300px;
    position: relative;
    margin-bottom: 2rem;
}

.proj-img {
    height: 100%;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: #A4B7BD;
    background-clip: content-box;
}

.overlay-row {
    height: 100%;
}

.proj-col:hover .overlay {
    opacity: 1;
}

.overlay-title {
    color: #073B4C;
    text-align: center;
    font-size: 30px;
}

.overlay-description {
    color: #073B4C;
    text-align: center;
    font-size: 15px;
}

.overlay-btn-row {
    margin-top: 5px;
}

.overlay-btn {
    border: 3px solid #073B4C;
    border-radius: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
    background: none;
    transition: all 0.3s ease;
    font-size: 15px;
    color: #073B4C;
}

.overlay-btn:hover {
    background-color: #073B4C;
    color: #A4B7BD;
    cursor: pointer;
}


#k-override {
    border-radius: 0;
    /* border: 5px solid rgba(132, 158, 17, 0.2); */
}

.modal-text {
    color: #073B4C;
}

#modal-carousel {
    max-height: 500px;
}

.aboutMe {
    background-color: #E8F1F2; 
}

.aboutMeText {
    color: #073B4C;
    font-size: 20px;
}

.about-display {
    height: 100%;
    width: 90%;
    margin: auto;
}

.profileImg {
    max-width: 275px;
    height: auto;
}

.contactMe {
    background-color: #073B4C; 
}

.contactInfo {
    color: #A4B7BD;
    font-size: 20px;
}

@media (max-width: 900px){
    html{font-size: 90%;}
}

@media (max-width: 400px){
    html{font-size: 75%;}
}