.welcomeScript {
    text-align: center;
}

.v-align {
    height: 730px;
    display: flex;
    align-items: center;
}

.projectScript {
    text-align: center;
}

.projects {
    margin-top: 100px;
    margin-bottom: 25px; 
}

.project {
    overflow: hidden;
    max-height: 380px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgb(97, 12, 12);
    background-clip: content-box;
}

.proj-col:hover .overlay {
    opacity: 1;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay-title {
    color: white;
    text-align: center;
}

.overlay-description {
    color: white;
    text-align: center;
}

.overlay-btn-row {
    margin-top: 50px;
}

.overlay-btn {
    border: 3px solid black;
    border-radius: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background: none;
    transition-duration: 0.5s;
}

.overlay-btn:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.overlay-btn-left {
    margin-right: 20px;
}